.dynamic-show div {
    display: inline-block;
}

.dynamic-show .img {
	max-width : 250px;
}

.dynamic-show .description {
    vertical-align: top;
    padding-top: 30px;
    width: 300px;
}

/****************/

.dynamic-show .link {
    position: absolute;
    -webkit-transform: rotate(15.5deg);
}

.dynamic-show .link:hover {
    border-color: #D8D8D8;
    border-width: 1px;
    border-style: dotted;
}

#link-3 {
    width: 140px;
    height: 16px;
    margin-top: 93px;
    margin-left: 60px;
}

#link-2 {
    width: 100px;
    height: 16px;
    margin-top: 108px;
    margin-left: 60px;
}

#link-1 {
    width: 100px;
    height: 16px;
    margin-top: 127px;
    margin-left: 60px;
    
    -webkit-transform: rotate(18deg);
}

/****************/

#info-interact {
    color: grey;
    position: absolute;
}

.img:hover #info-interact {
    display: none;
}